#card{
    background-color: #FFF;
    border:1px solid #d3d7fa;
    border-radius:10px 10px 0 0;
    width:100%;
    padding: 1rem;
}
#card > div{
    display:flex;
    justify-content: start;
    align-items: center;
    column-gap:15px;
}
#card > div a{
    text-decoration: none;
    color:black;
}
#card p{
    margin: 0.5rem 0;
    color: #3b3b3b;
}
#card > div span{
    border-radius: 5px;
    background-color: #b5d4f1;
    color:#3b3b3b;
    padding:0.1rem 0.75rem;
    font-size:12px;
    font-weight:600;
}
#card > div img{
    width:30px;
    height:30px;
    object-fit:contain;
}

.archive-button{
    width:100%;
    outline:none;
    color:#d82626;
    padding:0.5rem;
    border:1px solid #d3d7fa;
    border-top:none;
    border-radius:0 0 5px 5px;
    font-weight:bolder;
    background-color: #FFF;
}
.archive-button:hover{
    background-color: #d82626;
    color:#FFF;
}
.restore-button{
    width:100%;
    outline:none;
    color:#266fd5;
    padding:0.5rem;
    border:1px solid #d3d7fa;
    border-top:none;
    border-left:none;
    background-color: #FFF;
    border-radius:0 0 5px 5px;
    font-weight:bolder;
}
.button-container-two{
    width:100%;
    display:grid;
    grid-template-columns: 50% 50%;
}
.button-container-two .archive-button{
    border-bottom-right-radius:0;
}
.button-container-two .restore-button{
    border-bottom-left-radius:0;
}